#imagens {
   .container {
      width: 100%;
      margin:  auto;

      h2 {
         font-family: 'Roboto Mono', monospace;
         font-size: 32px;
         color: rgb(238, 247, 251);
         margin-bottom: 2rem;

         letter-spacing: 9px;
         height: 43px;
         -webkit-text-stroke: transparent 5px;
         //  text-transform:  uppercase;
         background: rgb(92, 91, 91);
         background-size: 15px;
         text-shadow: 0 4px 16px #000;
         -webkit-background-clip: text;
         background-clip: text;
      }

      img {
         height: 200px;
         width: auto;
         margin: 5px;
         object-fit: fill;
         object-position: bottom;
         border: 1px solid #333;

         &:hover {
            opacity: 75%;
            border-color: #33f;
         }
      }

   }
}