header {
   background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(135, 206, 235, 1));
   width: 100vw;
   position: relative;
   overflow: hidden;
   padding: 2rem 0 0 !important;
   border-bottom: 2px solid #fff;

   .container {
      h1 {
         font-size: 60px;
         margin: 2rem 0;
         padding-left: 3.5rem;
         position: relative;
         z-index: 9;
         text-align: start;

         letter-spacing: 9px;
         -webkit-text-stroke: transparent 5px;
         //  text-transform:  uppercase;
         background: linear-gradient(90deg, #ffeedb 50%, rgb(224, 253, 0) 50.1%);
         background-size: 10px;
         text-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
         -webkit-background-clip: text;
         background-clip: text;
         color: #eee;
         animation: text 2s linear infinite;
      }
   }
}

.waves {
   width: 110%;
   .wave-01 {
      animation: wave1 3s linear infinite;
      stroke-dasharray: 150;
      stroke-dashoffset: 150;
      stroke: #fff;
      stroke-width: 3px;

   }

   .wave-02 {
      animation: wave2 3s linear infinite;
      stroke-dasharray: 150;
      stroke-dashoffset: 150;
      stroke: #fff;
      stroke-width: 3px;
   }

   .wave-03 {
      animation: wave3 3s linear infinite;
      stroke-dasharray: 150;
      stroke-dashoffset: 150;
      stroke: #fff;
      stroke-width: 3px;
   }
}

footer {
   border-top: 2px solid rgb(255, 255, 255);

   .container {
      p {
         font-family: 'Roboto Mono', monospace;
         font-size: 0.8rem;
         color: rgb(92, 91, 91);

         a {
            color: rgb(92, 91, 91);
            transition: color 0.2s;

            &:hover {
               color: rgb(2, 19, 171);
            }
         }
      }
   }
}


@media (max-width: 1200px) {
   header {
      .container {
         h1 {
            font-size: 56px;
            margin: 2rem 0;
            padding-left: 2.5rem;
   
            letter-spacing: 7px;
         }
      }
   }
}

@media (max-width: 1024px) {
   header {
      .container {
         h1 {
            font-size: 52px;
            margin: 1.5rem 0;
            // padding-left: 2.5rem;
   
            // letter-spacing: 7px;
         }
      }
   }

   footer {
      .container {
         p {
            // font-size: 0.8rem;
         }
      }
   }
}

@media (max-width: 800px) {
   header {
      .container {
         h1 {
            font-size: 44px;
            margin: 0 0 1rem 0;
            padding-left: 2rem;
         }
      }
   }

   footer {
      .container {
         p {
            font-size: 0.7rem;
         }
      }
   }
}

@media (max-width: 650px) {
   header {
      .container {
         h1 {
            font-size: 40px;
            padding-left: 1.5rem;
            letter-spacing: 6px;
         }
      }
   }
}



@import 'global';
@import 'video';
@import 'images';
@import 'animations';