* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

header {
  background: #363636;
  width: 100%;
  border-bottom: 1px solid #dc020a;
}
header h1 {
  font-size: 2.8rem;
  color: #fcfcfc;
}

section {
  background: #E9F0F7;
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

footer {
  background: #363636;
  width: 100%;
}
footer p {
  font-size: 1.2rem;
  color: #fcfcfc;
  text-align: center;
}

@media (max-width: 1024px) {
  header h1 {
    font-size: 2.6rem;
  }
  .container {
    max-width: 98rem;
    padding: 1.8rem 1rem;
  }
}
@media (max-width: 768px) {
  header h1 {
    font-size: 2.4rem;
  }
  .container {
    max-width: 70rem;
    padding: 1.6rem 1rem;
  }
}
@media (max-width: 650px) {
  header h1 {
    font-size: 2.2rem;
  }
  .container {
    max-width: 68rem;
    padding: 1.4rem 1rem;
  }
}
@media (max-width: 426px) {
  header h1 {
    font-size: 2rem;
  }
  .container {
    max-width: 40rem;
    padding: 1.2rem 1rem;
  }
}
.banner h2 {
  font-size: 2.6rem;
  color: #dc020a;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 1.5px;
}
.banner img {
  width: 100%;
  object-fit: cover;
}
.banner p {
  font-size: 1.6rem;
  color: #202020;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .banner h2 {
    font-size: 2.4rem;
    margin-bottom: 1.8rem;
    letter-spacing: 1.3px;
  }
  .banner p {
    font-size: 1.5rem;
    margin-top: 1.8rem;
  }
}
@media (max-width: 768px) {
  .banner h2 {
    font-size: 2.2rem;
    margin-bottom: 1.8rem;
    letter-spacing: 1.3px;
  }
  .banner p {
    font-size: 1.4rem;
    margin-top: 1.6rem;
  }
}
@media (max-width: 650px) {
  .banner h2 {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
    letter-spacing: 1.2px;
  }
  .banner p {
    font-size: 1.4rem;
    margin-top: 1.4rem;
  }
}
@media (max-width: 426px) {
  .banner h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    letter-spacing: 1.1px;
  }
  .banner p {
    font-size: 1.3rem;
    margin-top: 1.2rem;
  }
}
.destack h2 {
  font-size: 2.6rem;
  color: #124167;
  font-weight: 700;
  margin-bottom: 1.6rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-decoration: underline;
  text-decoration-color: #dc020a;
  text-decoration-thickness: 1.5px;
}
.destack ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.destack ul li {
  list-style: none;
  width: 100%;
  max-width: 40rem;
}
.destack ul li .img-container {
  width: 100%;
  height: 25rem;
}
.destack ul li .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.destack ul li button {
  font-size: 1.8rem;
  color: #fbfbfb;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.6rem;
  background-color: #124167;
  margin-top: 1.6rem;
  transition: opacity 0.5s;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.destack ul li button:hover {
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .destack h2 {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    letter-spacing: 0.15rem;
  }
  .destack ul li {
    max-width: 40rem;
  }
  .destack ul li .img-container {
    height: 20rem;
  }
  .destack ul li button {
    height: 3.2rem;
    border-radius: 0.4rem;
    margin-top: 1.4rem;
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  .destack h2 {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
  }
  .destack ul {
    gap: 1.2rem;
  }
  .destack ul li {
    max-width: 28rem;
  }
  .destack ul li .img-container {
    height: 20rem;
  }
  .destack ul li button {
    height: 3.2rem;
    border-radius: 0.4rem;
    margin-top: 1.4rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 650px) {
  .destack h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  .destack ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
  }
  .destack ul li {
    max-width: 32rem;
  }
  .destack ul li .img-container {
    height: 22rem;
  }
  .destack ul li button {
    height: 3.6rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 426px) {
  .destack h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .destack ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
  .destack ul li {
    max-width: 36rem;
    margin: 0 auto;
  }
  .destack ul li .img-container {
    height: 20rem;
  }
  .destack ul li button {
    height: 3.8rem;
    border-radius: 0.6rem;
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
