header .container {
   width: 100%;
   background: $color-primary;
  

   img {
      height: 8.8rem;
   }

   //  .hero {
   //      align-items: flex-end;
   //    //   background-image: url('../assets/pngegg.png');
   //    //   background-repeat: no-repeat;
   //    //   background-position: center;
   //      height: 45rem;
   //      display: flex;
   //      padding-bottom: 4rem;
   //      width: 100%;

   //      img {
   //       width: 60rem;
   //       width: 45rem;
   //       object-position: 10px 10px;
   //       object-fit: cover;
   //      }

   //      h1 {
   //          padding: 1rem 0 0;
   //          text-align: center;
   //          width: 100%;
   //      }
   //  }

}