$color-primary: #b71bfa;
$color-secondary: #faf8f8;
$color-button: #45f7b6;
$font-color-primary: #454545;
$font-color-secondary: #ffffff;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-secondary;
    font-family: $font-default;
    margin: 0;
    width: 100vw;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section {
   border: 1px solid #000;
}

@import 'animations';
@import 'header';
@import 'sobre';
@import 'servicos';
@import 'footer';