@mixin containerHF($bg, $width) {
   background: $bg;
   width: $width;
}

@mixin fonts($size, $color) {
   font-size: $size;
   color: $color;
}

@mixin containerSection($mxWidth, $padding) {
   max-width: $mxWidth;
   padding: $padding;
}