$color-primary: #195484;
$color-secondary: #f58220;
$font-color-primary: #ffffff;
$font-color-secondary: #454545;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   background: #8b6fe7;
}

.container {
   margin: 0 auto;
   max-width: 90vw;
   padding: 1rem;
}

header {
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 1rem;

      h1 {
         font-size: 3.2rem;
         color: azure;
      }

      nav {
         display: flex;
         gap: 0.8rem;

         a {
            text-decoration: none;
            font-size: 1.6rem;
            color: azure;
         }
      }
   }
   
}

#sobre {
   .container{
      background-color: #fff;

      article {
         display: flex;
         flex-direction: column;
         gap: 0.4rem;

         h2 {
            font-size: 2.2rem;
            margin-bottom: 0.6rem;
         }
      }
   }
}
#produtos {
   .container {
      padding: 1rem 0;

      h2 {
         font-size: 2.2rem;
         text-align: center;
         margin: 1rem 0;
      }
   
      .vitrine {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 1rem;

         &__item {
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            min-height: 20rem;
            padding: .25rem 1rem;
         }

         &__image {
            background-color: #333;
            height: 10rem;
            width: 100%;
            object-fit: cover;
         }

         &__button {
            background-color: #33d;
            border-radius: 1rem;
            border: 1px solid #333;
            color: white;
            font-weight: bold;
            padding: 1rem 2rem;
            font-size: 1.6rem;
            text-decoration: none;
            align-self: center;
            margin: 1rem 0;
         }
      }
   }
}

