* {
   border: 0;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.6rem;
}

header {
   @include container($bg-header-footer, 100%);
   border-bottom: 1px solid $color-red;

   h1 {
      @include fonts(2.8rem, $color-header-footer)
   }
}

section {
   @include container($bg-section, 100%);
}

.container {
   max-width: 120rem;
   margin: 0 auto;
   padding: 2rem 1rem;
}

footer {
   @include container($bg-header-footer, 100%);

   p {
      @include fonts(1.2rem, $color-header-footer);
      text-align: center;
   }
}

@media (max-width: 1024px) {
   header {
      h1 {
         font-size: 2.6rem;
      }
   }

   .container {
      max-width: 98rem;
      padding: 1.8rem 1rem;
   }
}

@media (max-width: 768px) {
   header {
      h1 {
         font-size: 2.4rem;
      }
   }

   .container {
      max-width: 70rem;
      padding: 1.6rem 1rem;
   }
}

@media (max-width: 650px) {
   header {
      h1 {
         font-size: 2.2rem;
      }
   }

   .container {
      max-width: 68rem;
      padding: 1.4rem 1rem;
   }
}

@media (max-width: 426px) {
   header {
      h1 {
         font-size: 2rem;
      }
   }

   .container {
      max-width: 40rem;
      padding: 1.2rem 1rem;
   }
}