$font-big: 2.8rem; 
$font-family-default: 'Roboto', sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.6rem;
$font-small: 1.2rem;

$bg-header-footer: #363636;
$bg-section-impar: #202020;
$bg-section-par: #E9F0F7;
$color-header-footer: #fcfcfc;
$color-section-impar: #fbfbfb;
$color-section-par: #202020;
$color-title: #124167;

