.footer {
   margin-top: 3rem;
   width: 100%;
   border-top: 1px solid #cbcbcb;

   p {
      font-size: 1.2rem;
      text-align: center;

      small {
         a {
            color: $color-primary;
         }
      }
   }
}

@media(max-width: 850px) {
   .footer {
      margin-top: 0rem;
      p {
         font-size: 1.1rem;
      }
   }
}  