.header {
   background-color: $color-primary;

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
         height: 8.8rem;
      }

      .nav {
         display: flex;
         align-items: center;
         gap: 1.6rem;

         &__item {
            font-size: 1.6rem;
            color: $color-white;
            text-decoration: none;
            font-weight: 600;
            transition: color 1s, text-shadow 0.5s;
            

            &:hover {
               color: $color-button;
               text-shadow: 1px 1px 8px $color-white;
            }
         }
      }
   }
}