$color-primary: #b71bfa;
$color-secondary: #faf8f8;
$color-button: #45f7b6;
$font-color-primary: #454545;
$font-color-secondary: #ffffff;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

input,
button,
textarea,
a {
   font-family: 'Poppins', sans-serif;
}

body {
    background-color: $color-secondary;
    font-family: $font-default;
}

header,
section,
footer {
   width: 100%;
}

.container {
   margin: 0 auto;
   width: 90vw;
   max-width: 140rem;
   padding: 1rem 0;
}

@import 'animations';
@import 'header';
@import 'sobre';
@import 'servicos';
@import 'footer';