* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
}

.navbar {
   width: 100%;
   border-bottom: 1px solid #f5f5f2;

   .container-fluid {
      width: 100%;
      max-width: 1400px;
      padding: 0 1rem;

      .navbar-brand {
         font-size: 2.2rem;
         font-weight: 700;
         letter-spacing: 3px;
         color: #3d3d3d;

         span {
            color: #0279d4;
         }

         .nav-item .nav-link {
            text-decoration: none;
            font-size: 1rem;
            letter-spacing: 1.5px;
            font-weight: 500;
            color: #3d3d3d;

            transition: color 0.3s;

            &:hover {
               text-decoration: underline;
               color: #0279d4;
            }
         }
      }
   }
}

section {
   width: 100%;
   margin: 0 auto;
   padding: 1rem;
}

section.banner {
   background-image: url(../images/banner-bg.jpg);
   height: 500px;
   background-position: 0 24%;
   background-repeat: no-repeat;
   background-size: cover;

   display: flex;
   align-items: center;

   .container-fluid {
      max-width: 1400px;

      .row {
         width: 450px;
         height: 200px;
         border-radius: 6px;
         background-color: rgba(245, 245, 242, 0.5);

         display: flex;
         align-items: center;

         .caption {
            h2 {
               font-size: 2rem;
               color: #3d3d3d;
               font-weight: 600;

               span {
                  color: #d6040b;
                  font-weight: 700;
               }
            }

            p {
               font-size: 1.1rem;
               font-weight: 500;
               color: #3d3d3d;
            }
         }
      }
   }
}



section.highlights {
   .container-fluid {
      padding-right: 0;
      padding-left: 0;
      padding: 1rem 0;

      h2 {
         font-size: 2.5rem;
         font-weight: 600;
         letter-spacing: 1.5px;
         color: #3d3d3d;
         text-decoration: underline;
         text-decoration-color: #0279d4;
         margin-bottom: 1.5rem;

         span {
            color: #0279d4;
         }
      }

      .row {
         max-width: 1400px;
         margin: 0 auto;

         .owl-carousel {
            padding-right: 0;
            padding-left: 0;

            .item .card {
               border-radius: 6px;
               overflow: hidden;

               .card-body {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  div {
                     width: 100%;
                     display: flex;
                     align-items: baseline;
                     justify-content: space-between;
                     margin-bottom: 1rem;

                     h4 {
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 130%;
                        color: #3d3d3d;
                     }

                     h6 {
                        font-size: 1.2rem;
                        font-weight: 600;
                        line-height: 130%;
                        color: #3d3d3d;
                        text-decoration: underline;
                     }
                  }

                  .btn {
                     width: 100%;
                     padding: 0.5rem;
                     color: #fff;
                     font-weight: 600;
                     font-size: 1.1rem;
                     letter-spacing: 2px;
                  }

               }
            }

            .owl-nav {
               padding: 0.5rem 0;
               display: flex;
               align-items: center;
               justify-content: center;
               gap: 0.5rem;

               .owl-prev span {
                  font-size: 1.5rem;
                  font-weight: 700;
                  color: #3d3d3d;

                  transition: color 0.3s;

                  &:hover {
                     color: #0279d4;
                  }
               }

               .owl-next span {
                  font-size: 1.5rem;
                  font-weight: 700;
                  color: #3d3d3d;

                  transition: color 0.3s;

                  &:hover {
                     color: #0279d4;
                  }
               }
            }

            .owl-dots {
               display: flex;
               align-items: center;
               justify-content: center;
               gap: 0.3rem;

               .owl-dot {
                  opacity: 0.3;
                  border: 1px solid #3d3d3d;
                  width: 0.7rem;
                  height: 0.7rem;
                  border-radius: 50%;

                  &:hover {
                     background-color: #0279d4;
                  }
               }
            }

         }
      }
   }
}

section.footer {
   .container-fluid {
      display: flex;
      align-items: center;
      justify-content: center;

      .row {
         width: 100%;

         div {
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
               font-size: 2.2rem;
               font-weight: 700;
               letter-spacing: 3px;
               color: #3d3d3d;
               margin-bottom: 1rem;

               span {
                  color: #0279d4;
               }
            }
         }

         div:nth-child(2) {
            .footer-menu {
               width: 100%;

               ul {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 0.7rem;
                  padding-left: 0;

                  li {
                     list-style: none;

                     a {
                        text-decoration: none;
                        font-size: 1rem;
                        letter-spacing: 1.5px;
                        font-weight: 500;
                        color: #3d3d3d;

                        transition: color 0.3s;

                        &:hover {
                           text-decoration: underline;
                           color: #0279d4;
                        }
                     }

                     .circulo {
                        width: 8px;
                        height: 8px;
                        border: 1px solid #0279d4;
                        border-radius: 50%;
                     }
                  }
               }
            }
         }

         div:nth-child(3) {
            .social-icons {
               width: 100%;

               ul {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 0.7rem;
                  padding-left: 0;

                  li {
                     list-style: none;

                     a {
                        i {
                           color: #0279d4;
                           transition: opacity 0.3s;

                           &:hover {
                              opacity: 0.6;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

section.sub-footer {
   .container-fluid {
      .row {
            div {
               .copyright-text {
               display: flex;
               align-items: center;
               justify-content: center;

               p {
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 150%;
                  margin-bottom: 0;
                  color: #3d3d3d;

                  span {
                     color: #0279d4;
                     font-weight: 600;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 1024px) {
   .navbar {
      max-width: 1024px;

      .container-fluid {
         .navbar-brand {
            font-size: 2.1rem;
            letter-spacing: 2.5px;
         }
      }
   }

   section.banner {
      max-width: 1024px;

      .container-fluid {
         .row {
            width: 400px;
            height: 180px;

            .caption {
               h2 {
                  font-size: 1.8rem;
               }

               p {
                  font-size: 1rem;
               }
            }
         }
      }
   }

   section.highlights {
      max-width: 1024px;

      .container-fluid {
         h2 {
            font-size: 2.3rem;
         }
      }
   }

   section.footer {
      max-width: 1024px;

      .container-fluid {
         h1 {
            font-size: 2.1rem;
            letter-spacing: 2.5px;
         }
      }
   }

   section.sub-footer {
      .container-fluid {
         .row {
            div {
               .copyright-text {
                  p {
                     font-size: 0.9rem;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .navbar {
      max-width: 768px;

      .container-fluid {
         .navbar-brand {
            font-size: 2rem;
            letter-spacing: 2px;
         }

         div {
            .navbar-nav {
               .nav-item {
                  .nav-link {
                     font-size: 0.9rem;
                  }
               }
            }
         }
      }
   }

   section.banner {
      max-width: 768px;
      height: 360px;

      .container-fluid {
         .row {
            width: 360px;
            height: 140px;

            .caption {
               h2 {
                  font-size: 1.6rem;
               }
               
               p {
                  font-size: 0.9rem;
               }
            }
         }
      }
   }

   section.highlights {
      .container-fluid {
         padding: 0.5rem 0;

         h2 {
            font-size: 2.3rem;
         }

         .row {
            .owl-carousel {
               .item {
                  .card {
                     .card-body {
                        div {
                           margin-bottom: 0.8rem;

                           h4 {
                              font-size: 1.2rem;
                           }

                           h6 {
                              font-size: 1rem;
                           }
                        }

                        .btn {
                           font-size: 1rem;
                        }
                     }
                  }
               }

               .owl-nav {
                  .owl-prev {
                     span {
                        font-size: 1.4rem;
                     }
                  }

                  .owl-next {
                     span {
                        font-size: 1.4rem;

                        &:hover {
                           color: #0279d4;
                        }
                     }
                  }
               }

               .owl-dots {
                  .owl-dot {
                     width: 0.6rem;
                     height: 0.6rem;
                  }
               }
            }
         }
      }
   }

   section.footer {
      max-width: 768px;

      .container-fluid {
         h1 {
            font-size: 2rem;
            letter-spacing: 2px;
         }

         .row {
            div:nth-child(2) {
               .footer-menu {
                  ul {
                     gap: 0.5rem;

                     li {
                        a {
                           font-size: 0.9rem;
                        }

                        .circulo {
                           width: 6px;
                           height: 6px;
                        }
                     }
                  }
               }
            }

            div:nth-child(3) {
               .social-icons {
                  ul {
                     gap: 0.5rem;
                     margin-bottom: 0;
                  }
               }
            }
         }
      }
   }

   section.sub-footer {
      .container-fluid {
         .row {
            div {
               .copyright-text {
                  p {
                     font-size: 0.8rem;
                  }
               }
            }
         }
      }
   }
}


@media (max-width: 426px) {
   .navbar {
      max-width: 426px;

      .container-fluid {
         .navbar-brand {
            font-size: 1.8rem;
            letter-spacing: 1.5px;
         }

         div {
            .navbar-nav {
               .nav-item {
                  .nav-link {
                     font-size: 0.8rem;
                  }
               }
            }
         }
      }
   }

   section.banner {
      max-width: 426px;
      height: 320px;
      align-items: flex-end;
      padding-bottom: 2.5rem;

      .container-fluid {
         .row {
            width: 300px;
            height: 100px;

            .caption {
               h2 {
                  font-size: 1.2rem;
               }

               p {
                  font-size: 0.8rem;
               }
            }
         }
      }
   }

   section.highlights {
      .container-fluid {
         padding: 0.5rem 0;

         h2 {
            font-size: 1.8rem;
         }

         .row {
            .owl-carousel {
               .owl-dots {
                  .owl-dot {
                     width: 0.5rem;
                     height: 0.5rem;
                  }
               }
            }
         }
      }
   }

   section.footer {
      max-width: 426px;

      .container-fluid {
         h1 {
            font-size: 1.8rem;
            letter-spacing: 1.5px;
         }

         .row {
            div:nth-child(2) {
               .footer-menu {
                  ul {
                     flex-direction: column;
                     gap: 0.1rem;

                     li {
                        a {
                           font-size: 0.8rem;
                        }

                        .circulo {
                           display: none;
                        }
                     }
                  }
               }
            }

            div:nth-child(3) {
               .social-icons {
                  ul {
                     gap: 0.5rem;
                     margin-bottom: 0;
                  }
               }
            }
         }
      }
   }


   section.sub-footer {
      .container-fluid {
         .row {
            div {
               .copyright-text {
                  p {
                     font-size: 0.7rem;
                  }
               }
            }
         }
      }
   }
}

/* Estilos auxiliares */

/* Quando o campo do formulário for inválido */
.invalid {
   border-color: rgb(240, 52, 52);
}

.text-muted {
   display: none;
}